body{
    background-image: url(..//asset/binary-code-big.jpg);
}
#Emain{
    position: relative;
    border: 1px solid #000;
    width: 1000px;
    min-height: 2000px;
    margin: 20px auto;
    background-color: rgba(255, 255, 255,.8);
}
#Mmain{
    position: relative;
    border: 1px solid #000;
    width: 1000px;
    min-height: 1777px;
    margin: 20px auto;
    background-color: rgba(255, 255, 255,.8);
}
#Cmain{
    position: relative;
    border: 1px solid #000;
    width: 1000px;
    min-height: 1500px;
    margin: 20px auto;
    background-color: rgba(255,255,255,.8);
}
#hprincipal{
    position: relative;
    font-family: "Aarvark Cafe" !important;
    width: 100%;
    height: 200px;
    top: -20px;
    border-bottom: 1px solid #000;
    background-image: url(..//asset/bghn.png);
}
#hprincipal h1{
    position: absolute;
    left: 500px;
    top: 120px;
}
#hprincipal .logo{
    position: absolute;
    left: 150px;
    top: 100px;
    background-image: url(..//asset/logo.png);
    background-size: 100%;
}
nav.menu{
    position: relative;
    top: -36px;
    border-bottom: 1px solid #000;
    background-color: #000;
}
nav.menu ul{
    position: relative;
    width: 100%;
}
nav.menu ul li{
    position: relative;
    display: inline-block;
    vertical-align: top;
    list-style-type: none;
}
nav.menu ul li a{
    position: relative;
    display: block;
    text-decoration: none;
    padding: 10px 20px;
    color: #fff;
}
nav.menu ul li a:hover,
nav.menu ul li a.activo{
    background-color: #e44a22;
}
#can{
    position: relative;
    top: 10px;
    text-align: center;
    font-style: italic;
    font-size: 25px;
    font-weight: bold;
}
#wine{
    position: relative;
    top: 100px;
}
.beer{
    color: white;
    border: none;
    background-color: grey;
    font-family: serif;
}
#xo{
    position: relative;
    width: 75%;
    left: 40px;
    top: 2px;
}
#wj{ 
    position: relative;
    left: 95px;
    top: 2px;
}
#yu{
    position: relative;
    width: 80%;
    left: 30px;
    top: 2px;
}
#xe{
    position: relative;
    width: 80%;
    left: 30px;
    top: 2px;
}
#sc{
    position: relative;
    width: 90%;
    top: 2px;
    left: 17px;
}
#xi{
    position: relative;
    width: 80%;
    top: 2px;
    left: 30px;
}
#xy{
    position: relative;
    width: 90%;
    top: 2px;
    left: 15px;
}
#xñ{
    position: relative;
    top: 2px;
    left: 85px;
}
#xt{
    position: relative;
    width: 90%;
    top: 2px;
    left: 15px;
}
#xf{
    position: relative;
    width: 90%;
    top: 2px;
    left: 15px;
}
#sñ{
    position: relative;
    top: 3px;
    left: 85px;
}
#zw{
    position: relative;
    top: 2px;
    left: 85px;
}
#re{
    position: relative;
    width: 90%;
    top: 2px;
    left: 15px;
}
#ty{
    position: relative;
    width: 90%;
    top: 2px;
    left: 15px;
}
#zx{
    position: relative;
    top: 2px;
    left: 100px;
}
#jk{
    position: relative;
    top: 2px;
}

#fprincipal{
    position: relative;
    width: 100%;
    height: 100px;
    text-align: center;
    border-top: 1px solid #000;
    background-color: #000;
    color: #fff;
    background-image: url(..//asset/bgf.png);
}
#fprincipal{
    position: relative;
    top: 100px;
}
#ij{
    position: relative;
    top: 30px;
    left: 80px;
    font-size: 20px;
}
#ftmprincipal{
    position: relative;
    width: 100%;
    height: 100px;
    top: 45px;
    text-align: center;
    border-top: 1px solid #000;
    background-color: #000;
    color: #fff;
    background-image: url(..//asset/bgf.png);
}
